{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <!-- 
    <script language="Javascript">
        window.onload = function () {
            var mobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
            if (mobile) {
                alert("This website is designed to be experienced on a desktop. Please visit on a desktop device. -Çağrı");
            } else {

            }
        }
    </script> -->

    <title>Çağrı Gökpunar - About</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">

</head>

<body class="mobile">
    <div>
        <h1>About</h1>
        <img src="{% static 'img/pp.jpg' %}" alt="Çağrı Gökpunar" style="width: 100%; margin-bottom: 30px; display: block; margin-left: auto; margin-right: auto;">
        <p>I'm a full-stack data analyst and developer who loves cooking up different
            business ideas. The
            predictive magic of statistics always keeps me hooked.
        <p>Beyond the tech world, I enjoy playing with
            colors and sounds, focusing on creating portraits and dark melodies.
        <p>My interests are all over the
            place —philosophy, history, strategic thinking, linguistics, evolution, and psychology— and I'm
            constantly
            diving into books about them.
        <p style="margin-bottom: 40px;">When I'm not immersed in ideas, you can find me skating, swimming, or just
            moving around. </p>

        <a href="{% url 'core:index' %}"
            style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the home page</a>
    </div>
</body>

</html>