{% load static %}
{% load templatetags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style_dark.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Album Reviews</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">
</head>

<body style="margin-top: 40px; margin-left: 25%; margin-right: 25%; margin-bottom: 60px;">
    <div>
        <h1>Album Reviews</h1>
        <p style="margin-bottom: 10px;">How many drummers does it take to change a lightbulb?</p>

        <p style="margin-bottom: 20px; margin-top: 10px;"></p>

        {% for review in album_reviews %}
        <div style="display: flex; margin-top: 30px;">
            <div style="flex: 15%; margin-right: 20px;">
                <img style="width: 100%; height: 100%; object-fit: cover; overflow: hidden" src="{{ review.imgLink }}">
            </div>
            <div style="flex: 85%; margin-right: 20px;">
                <h2>{{ review.albumName }}</h2>
                <p><em>{{ review.artistName }}</em></p>
                <p>{{ review.yearReleased }}</p>
                <p style="font-size: 24px; margin-top: 10px;">{{ review.overallRating|generate_stars|safe }}</p>
            </div>
        </div>
        {% endfor %}

        <p style="margin-bottom: 40px;"></p>

        <a href="{% url 'core:reviews' %}"
            style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the reviews</a>
    </div>
</body>

</html>