{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style_dark.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Game Reviews</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">

    <style>
        .collapsible {
            background-color: #701414;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
        }

        .content {
            padding: 0 10px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #1b1b1b;
        }
    </style>

</head>

<body style="margin-top: 40px; margin-left: 25%; margin-right: 25%; margin-bottom: 60px;">
    <div>
        <h1>Game Reviews</h1>
        <p style="margin-bottom: 10px;">I love video games, and I recently decided to review them.</p>

        <button class="collapsible">Click to expand evaluation metrics</button>
        <div class="content">
            <div style="margin-bottom: 10px;">
                <h3 style="margin-top: 10px;">Method</h3>
                <p style="margin-top: 0;">I utilized the analytical hierarchy process (AHP) to compute the coefficients
                    for each criterion. I grade the games on a scale of 1 to 10 for each criterion, and then I multiply
                    the ratings by the coefficients. After adding all the products, I calculate the ultimate score for
                    each game.</p>
                <h3 style="margin-top: 20px;">Coefficients</h3>
                <table
                    style="font-weight: bold; justify-content: center; width: 100%; margin-top: 20px; margin-bottom: 20px;">
                    <tbody>
                        <tr>
                            <td style="text-align: right; color: #ffffff; width: 55%;" class="change-in-dark">Gameplay: </td>
                            <td>6.5</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Storytelling: </td>
                            <td>7.3</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Character Design: </td>
                            <td>23.6</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Graphics: </td>
                            <td>10.3</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Sound Design: </td>
                            <td>9.4</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Suspense: </td>
                            <td>13.3</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Difficulty: </td>
                            <td>6.5</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Replayability: </td>
                            <td>1.7</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Emotional Impact: </td>
                            <td>4.5</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Performance: </td>
                            <td>17.0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p style="margin-bottom: 20px; margin-top: 10px;"></p>

        {% for review in game_reviews %}
        <div style="display: flex; margin-top: 30px;">
            <div style="flex: 75%; margin-right: 20px;">
                <h2>{{ review.gameName }}</h2>
                <p style="margin-bottom: 20px;">Release year: {{ review.yearPublished }}</p>
                <p style="margin-bottom: 20px; text-align: justify;">{{ review.notes }}</p>
                <div style="display: flex; margin-bottom: 20px;">
                    <div style="flex: 40%">
                        <table style="font-weight: bold; justify-content: center; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Gameplay: </td>
                                    <td>{{ review.gameplay }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Storytelling: </td>
                                    <td>{{ review.storytelling }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Character Design: </td>
                                    <td>{{ review.characterDesign }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Graphics: </td>
                                    <td>{{ review.graphics }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Sound Design: </td>
                                    <td>{{ review.soundDesign }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Suspense: </td>
                                    <td>{{ review.suspense }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Difficulty: </td>
                                    <td>{{ review.difficulty }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Replayability: </td>
                                    <td>{{ review.replayability }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Emotional Impact: </td>
                                    <td>{{ review.emotionalImpact }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Performance: </td>
                                    <td>{{ review.performance }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        style="flex: 60%; justify-content: center; text-align: center; display: flex; align-items: center;">
                        <div>
                            <p style="font-size: 72px;">{{ review.overallRating }}</p>
                            <p style="color: #ffffff; font-weight: bold;" class="change-in-dark">Overall Rating</p>
                        </div>
                    </div>
                </div>
                <p style="text-align: center;">I have played this game for about {{ review.hoursPlayed }} hours.</p>
            </div>
            <div style="flex: 25%;">
                <img style="width: 100%; height: 100%; object-fit: cover; overflow: hidden" src="{{ review.imgLink }}">
            </div>

        </div>
        {% endfor %}

        <p style="margin-bottom: 40px;"></p>

        <a href="{% url 'core:reviews' %}"
            style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the reviews</a>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>

</html>