{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style_dark.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Reviews</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">
</head>


<body>
    <div class="wrapper">
        <div>
            <h1>Reviews</h1>
            <p>
                I enjoy reviewing things.
            </p>

            <h3 style="margin-top: 20px;">Game Reviews</h3>
            <p>
                I have reviewed {{ game_reviews_count }} games so far. Click <a href="{% url 'core:game_reviews' %}"
                    style="font-weight: bolder; color: #701414; background-color: #ffffff; padding: 2px;">here</a> to
                see them.
            </p>

            <h3 style="margin-top: 20px;">Toilet Reviews</h3>
            <p>
                I have reviewed {{ toilet_reviews_count }} toilets so far. Click <a
                    href="{% url 'core:toilet_reviews' %}"
                    style="font-weight: bolder; color: #701414; background-color: #ffffff; padding: 2px;">here</a> to
                see them.
            </p>

            <h3 style="margin-top: 20px;">Album Reviews</h3>
            <p>
                I have reviewed {{ album_reviews_count }} albums so far. Click <a href="{% url 'core:album_reviews' %}"
                    style="font-weight: bolder; color: #701414; background-color: #ffffff; padding: 2px;">here</a> to
                see them.
            </p>

            <h3 style="margin-top: 20px;">Book Reviews</h3>
            <p>
                I have reviewed {{ book_reviews_count }} books so far. Click <a href="{% url 'core:book_reviews' %}"
                    style="font-weight: bolder; color: #701414; background-color: #ffffff; padding: 2px;">here</a> to
                see them.
            </p>

            <h3 style="margin-top: 20px;">City Reviews</h3>
            <p>
                Coming soon...
            </p>

            <div style="margin-bottom: 50px;"></div>


            <a href="{% url 'core:index' %}"
                style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                    class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the home page</a>
        </div>
    </div>
</body>