{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style_dark.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Toilet Reviews</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">

    <style>
        .collapsible {
            background-color: #701414;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
        }

        .content {
            padding: 0 10px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #1b1b1b;
        }
    </style>

</head>

<body style="margin-top: 40px; margin-left: 25%; margin-right: 25%; margin-bottom: 60px;">
    <div>
        <h1>Toilet Reviews</h1>
        <p style="margin-bottom: 10px;">Every toilet has a life experience within.</p>

        <button class="collapsible">Click to expand evaluation metrics</button>
        <div class="content">
            <div style="margin-bottom: 10px;">
                <h3 style="margin-top: 10px;">Method</h3>
                <p style="margin-top: 0;">I utilized the analytical hierarchy process (AHP) to compute the coefficients
                    for each criterion. I grade the toilets on a scale of 1 to 10 for each criterion, and then I multiply
                    the ratings by the coefficients. After adding all the products, I calculate the ultimate score for
                    each toilet.</p>
                <h3 style="margin-top: 20px;">Coefficients</h3>
                <table
                    style="font-weight: bold; justify-content: center; width: 100%; margin-top: 20px; margin-bottom: 20px;">
                    <tbody>
                        <tr>
                            <td style="text-align: right; color: #ffffff; width: 55%;" class="change-in-dark">Cleanliness: </td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Toilet Paper: </td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Smell: </td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Bidet Nozzle: </td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Soap: </td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Comfort: </td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Lighting: </td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Airiness: </td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Door Lock: </td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td style="text-align: right; color: #ffffff;" class="change-in-dark">Flush: </td>
                            <td>18</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <p style="margin-bottom: 20px; margin-top: 10px;"></p>

        {% for review in toilet_reviews %}
        <div style="display: flex; margin-top: 30px;">
            <div style="flex: 65%; margin-right: 20px;">
                <h2>{{ review.toiletName }}</h2>
                <p style="margin-bottom: 20px; text-align: justify;">{{ review.notes }}</p>
                <div style="display: flex; margin-bottom: 20px;">
                    <div style="flex: 40%">
                        <table style="font-weight: bold; justify-content: center; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Cleanliness: </td>
                                    <td>{{ review.cleanliness }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Toilet Paper: </td>
                                    <td>{{ review.toiletPaper }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Smell: </td>
                                    <td>{{ review.smell }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Bidet Nozzle: </td>
                                    <td>{{ review.bidetNozzle }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Soap: </td>
                                    <td>{{ review.soap }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Comfort: </td>
                                    <td>{{ review.comfort }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Lighting: </td>
                                    <td>{{ review.lighting }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Airiness: </td>
                                    <td>{{ review.airiness }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Door Lock: </td>
                                    <td>{{ review.doorLock }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right; color: #ffffff;" class="change-in-dark">Flush: </td>
                                    <td>{{ review.flush }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div
                        style="flex: 60%; justify-content: center; text-align: center; display: flex; align-items: center;">
                        <div>
                            <p style="font-size: 72px;">{{ review.overallRating }}</p>
                            <p style="color: #ffffff; font-weight: bold;" class="change-in-dark">Overall Rating</p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex: 35%;">
                <img style="width: 100%; height: 100%; object-fit: cover; overflow: hidden" src="{{ review.imgLink }}">
            </div>

        </div>
        {% endfor %}

        <p style="margin-bottom: 40px;"></p>

        <a href="{% url 'core:reviews' %}"
            style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the reviews</a>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>

</html>