{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style_dark.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - About</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">
</head>


<body>
    <div class="wrapper">
        <div>
            <img src="{% static 'img/pp.png' %}" alt="Çağrı Gökpunar">
        </div>
        <div style="text-align: left;">
            <h1>About</h1>
            <p style="margin-bottom: 20px;">I'm a full-stack data analyst and developer <br>who loves cooking up
                different business ideas. <br>The
                predictive magic of statistics always keeps me hooked.
            <p style="margin-bottom: 20px;">Beyond the tech world, I enjoy playing with <br>
                colors and sounds, focusing on creating portraits and dark melodies.
            <p style="margin-bottom: 20px;">My interests are all over the
                place <br>—philosophy, history, strategic thinking, linguistics, evolution, and psychology— <br> and I'm
                constantly
                diving into books about them.
            <p style="margin-bottom: 40px;">When I'm not immersed in ideas, <br>you can find me skating, swimming, or
                just
                moving around. </p>

            <a href="{% url 'core:index' %}"
                style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                    class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the home page</a>
        </div>
    </div>
</body>