{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Art</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">
</head>

<body>
    <div class="wrapper">
        <div class="vanilla_container">
            <label for="c5" class="card" style="cursor: default;">
                <div class="row">
                    <div class="icon">
                        <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                    </div>
                    <div class="description">
                        <h4>Galadrimel</h4>
                        <p>Digital art</p>
                    </div>
                </div>
            </label>
            <label for="c6" class="card" style="cursor: default;">
                <div class="row">
                    <div class="icon">
                        <i class="fa-solid fa-paintbrush" style="color: #ffffff;"></i>
                    </div>
                    <div class="description">
                        <h4>My Grandma</h4>
                        <p>Oil on canvas</p>
                    </div>
                </div>
            </label>
            <label for="c7" class="card" style="cursor: default;">
                <div class="row">
                    <div class="icon">
                        <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                    </div>
                    <div class="description">
                        <h4>Self-Portrait</h4>
                        <p>Oil pastels on craft</p>
                    </div>
                </div>
            </label>
            <label for="c8" class="card" style="cursor: default;">
                <div class="row">
                    <div class="icon">
                        <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                    </div>
                    <div class="description">
                        <h4>Arthur Morgan</h4>
                        <p>Digital art</p>
                    </div>
                </div>
            </label>
        </div>
        <div style="margin-left: 100px; text-align: left;">
            <h1>Art</h1>
            <p>I make paintings and music.</p>
            <p style="margin-bottom: 20px;">My focuses are portraits and electronic music.</p>
            <iframe style="justify-content: center;"
						src="https://open.spotify.com/embed/artist/2ARdu6Z3kTuoeex8v9yqQ5?utm_source=generator&theme=0"
						width="100%" height="250" frameBorder="0" allowfullscreen=""
						allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
						loading="lazy"></iframe>
                        <br>
            <a href="{% url 'core:index' %}"
                style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                    class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the home page</a>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var switchButton = document.getElementById('switchButton');
            var stylesheet = document.getElementById('stylesheet');

            // Check if the user has set their device to use a dark color scheme
            var prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;

            // Load the theme from localStorage or set it based on the user's device setting
            var theme = localStorage.getItem('theme');
            if (theme) {
                stylesheet.href = theme;
            } else if (prefersDarkScheme) {
                stylesheet.href = "{% static 'css/style_dark.css' %}";
                localStorage.setItem('theme', "{% static 'css/style_dark.css' %}");
            } else {
                stylesheet.href = "{% static 'css/style.css' %}";
                localStorage.setItem('theme', "{% static 'css/style.css' %}");
            }

            switchButton.addEventListener('click', function () {
                if (stylesheet.href.includes('style.css')) {
                    stylesheet.href = "{% static 'css/style_dark.css' %}";
                    localStorage.setItem('theme', "{% static 'css/style_dark.css' %}");
                } else {
                    stylesheet.href = "{% static 'css/style.css' %}";
                    localStorage.setItem('theme', "{% static 'css/style.css' %}");
                }
            });
        });
    </script>
</body>

</html>