{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style_dark.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link rel="preload" href="{% static 'img/favicon.gif' %}" as="image">
    
    <title>Çağrı Gökpunar</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">

</head>

<body>
    <div class="wrapper">
        <div class="header-container">
            <img src="{% static 'img/favicon.gif' %}" alt="mpospirit"
                style="width: 50%; margin-bottom: 15px; display: block; margin-left: auto; margin-right: auto;">
            <h1>Çağrı Gökpunar</h1>
            <p style="margin-bottom: 10px;"><em>mpospirit</em></p>

            <p style="margin-bottom: 20px;"><strong>Analyst / Developer / Artist</strong></p>

            <!-- social links -->
            <div style="margin-bottom: 20px; font-size: 36px;">
                <a href="https://www.linkedin.com/in/cagrigokpunar/" target="_blank"><i
                        class="change-in-dark fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
                <a href="https://github.com/mpospirit" target="_blank"><i class="change-in-dark fa-brands fa-github"
                        style="color: #ffffff;"></i></a>
                <a href="https://twitter.com/mpospirit" target="_blank"><i
                        class="change-in-dark fa-brands fa-square-x-twitter" style="color: #ffffff;"></i></a>
                <a href="https://instagram.com/mpospirit" target="_blank"><i
                        class="change-in-dark fa-brands fa-square-instagram" style="color: #ffffff;"></i></a>
                <a href="https://open.spotify.com/artist/2ARdu6Z3kTuoeex8v9yqQ5" target="_blank"><i
                        class="change-in-dark fa-brands fa-spotify" style="color: #ffffff;"></i></a>
            </div>

            <p><a href="mailto:cagri@mpospirit.com" style="text-decoration: none; color: inherit;">
                    <i class="change-in-dark fa-solid fa-envelope" style="color: #ffffff; margin-bottom: 40px;"></i>
                    cagri@mpospirit.com
                </a></p>

            <!-- navigations  -->
            <div style="margin-bottom: 24px;">
                <a href="{% url 'core:about' %}"
                    style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                        class="fa-solid fa-user" style="color: #ffffff;"></i> About</a>

                <a href="{% url 'core:tech_stack' %}"
                    style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                        class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i> Tech Stack</a>

                <a href="{% url 'core:blog' %}"
                    style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                        class="fa-solid fa-blog" style="color: #ffffff;"></i> Blog</a>
            </div>

            <div style="margin-bottom: 30px;">
                <a href="{% url 'core:art' %}"
                    style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                        class="fa-solid fa-palette" style="color: #ffffff;"></i> Art</a>

                <a href="{% url 'core:reviews' %}"
                    style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                        class="fa-solid fa-star" style="color: #ffffff;"></i> Reviews</a>
                
                <a href="{% url 'core:playground' %}"
                    style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                        class="fa-solid fa-gamepad" style="color: #ffffff;"></i> Playground</a>
            </div>

            <a href="https://www.buymeacoffee.com/mpospirit" target="_blank"><i
                    class="change-in-dark fa-solid fa-mug-hot" style="color: #ffffff;"></i> Buy me a coffee</a>

            <p style="margin-top: 50px;">Jun 2024</p>
        </div>

    </div>

    <script>
        window.onload = function () {
            var img = document.querySelector('img');
            var src = img.getAttribute('src');
            img.setAttribute('src', src + '?v=' + new Date().getTime());
        };
    </script>
</body>

</html>