{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Skills</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">
</head>

<body>
    <div class="wrapper">
        <div style="text-align: right; margin-right: 100px;">
            <h1>Skills</h1>
            <b>Machine Learning</b> <br>
            <p style="margin-bottom: 10px;">scikit-learn, TensorFlow, Keras</p>

            <b>Data Manipulation and Analysis</b> <br>
            <p style="margin-bottom: 10px;">numpy, pandas, polars, matplotlib, <br>seaborn, plotly, cufflinks, Alteryx
            </p>

            <b>Database Management</b> <br>
            <p style="margin-bottom: 10px;">BigQuery, MySQL, PostgreSQL, MSSQL, <br>MongoDB, DynamoDB</p>

            <b>Data Visualization</b> <br>
            <p style="margin-bottom: 10px;">PowerBI, Tableau, QuickSight, Looker</p>

            <b>Operations Research</b> <br>
            <p style="margin-bottom: 10px;">Pyomo, Ortools, PuLP, SCIP</p>

            <b>DevOps</b> <br>
            <p style="margin-bottom: 10px;">AWS (Batch, Lambda, S3, EC2, <br>Elastic Beanstalk, etc.)</p>

            <b>Backend Development</b> <br>
            <p style="margin-bottom: 10px;">Django, Streamlit, Firebase</p>

            <b>Mobile Development</b> <br>
            <p>Flutter, Kivy</p>
        </div>
        <div>
            <h1>Activities</h1>
            <h3>Competitions</h3>
            <p style="margin-bottom: 10px;">I like to learn new things from Kaggle. <br><a
                    href="https://www.kaggle.com/mpospirit" target="_blank"
                    style="text-decoration: none; color: #701414;"><b>My profile link</b></a></p>
            <h3>Achievements</h3>
            <p>Google Foobar Challange</p>
            <p style="margin-bottom: 20px;">Project Euler (Currently solved: 22)</p>

            <h1>Softwares</h1>
            <b>Graphics</b>
            <p>Adobe Photoshop, Illustrator</p>
            <p>Affinity Designer, Procreate</p>
            <b>Motion Graphics</b>
            <p>Adobe After Effects, Premiere Pro</p>
            <b>3D Modelling</b>
            <p>Blender, SOLIDWORKS</p>
            <b>UI/UX Design</b>
            <p>Adobe XD, Figma</p>
            <b>Music & Sound</b>
            <p style="margin-bottom: 40px;">Logic Pro, FL Studio</p>

            <a href="{% url 'core:index' %}"
                style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                    class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the home page</a>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var switchButton = document.getElementById('switchButton');
            var stylesheet = document.getElementById('stylesheet');

            // Check if the user has set their device to use a dark color scheme
            var prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;

            // Load the theme from localStorage or set it based on the user's device setting
            var theme = localStorage.getItem('theme');
            if (theme) {
                stylesheet.href = theme;
            } else if (prefersDarkScheme) {
                stylesheet.href = "{% static 'css/style_dark.css' %}";
                localStorage.setItem('theme', "{% static 'css/style_dark.css' %}");
            } else {
                stylesheet.href = "{% static 'css/style.css' %}";
                localStorage.setItem('theme', "{% static 'css/style.css' %}");
            }

            switchButton.addEventListener('click', function () {
                if (stylesheet.href.includes('style.css')) {
                    stylesheet.href = "{% static 'css/style_dark.css' %}";
                    localStorage.setItem('theme', "{% static 'css/style_dark.css' %}");
                } else {
                    stylesheet.href = "{% static 'css/style.css' %}";
                    localStorage.setItem('theme', "{% static 'css/style.css' %}");
                }
            });
        });
    </script>
</body>