{% load static %}
{% load templatetags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <!-- 
    <script language="Javascript">
        window.onload = function () {
            var mobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));
            if (mobile) {
                alert("This website is designed to be experienced on a desktop. Please visit on a desktop device. -Çağrı");
            } else {

            }
        }
    </script> -->

    <title>Çağrı Gökpunar - Book Reviews</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">

    <style>
        .collapsible {
            background-color: #701414;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
        }

        .content {
            padding: 0 10px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #e9e8e6;
        }
    </style>

</head>

<body class="mobile">
    <div>
        <h1>Book Reviews</h1>
        <p style="margin-bottom: 10px;">Stand on the shoulders of giants.</p>

        <p style="margin-bottom: 20px; margin-top: 10px;"></p>

        {% for review in book_reviews %}
        <div style="display: flex; margin-top: 30px;">
            <div style="flex: 25%; margin-right: 20px;">
                <img style="width: 100px; height: 100px; object-fit: cover; overflow: hidden" src="{{ review.imgLink }}">
            </div>
            <div style="flex: 75%; margin-right: 20px;">
                <h2>{{ review.bookName }}</h2>
                <p style="margin-top: 0;"><em>{{ review.authorName }}</em></p>
                <p style="margin-top: 0;">{{ review.genre }}</p>
                <p style="font-size: 18px; margin-top: 10px;">{{ review.overallRating|generate_stars|safe }}</p>
            </div>
        </div>
        {% endfor %}

        <p style="margin-bottom: 40px;"></p>

        <a href="{% url 'core:reviews' %}"
            style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the reviews</a>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var switchButton = document.getElementById('switchButton');
            var stylesheet = document.getElementById('stylesheet');
            var elementsToChange = document.getElementsByClassName('change-in-dark');
            var contents = document.getElementsByClassName('content');

            // Check if the user has set their device to use a dark color scheme
            var prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)").matches;

            // Load the theme from localStorage or set it based on the user's device setting
            var theme = localStorage.getItem('theme');
            if (theme) {
                stylesheet.href = theme;
                applyThemeToElements(theme);
                applyBackgroundColorToContents(theme);
            } else if (prefersDarkScheme) {
                stylesheet.href = "{% static 'css/style_dark.css' %}";
                localStorage.setItem('theme', "{% static 'css/style_dark.css' %}");
                applyThemeToElements("{% static 'css/style_dark.css' %}");
                applyBackgroundColorToContents("{% static 'css/style_dark.css' %}");
            } else {
                stylesheet.href = "{% static 'css/style.css' %}";
                localStorage.setItem('theme', "{% static 'css/style.css' %}");
                applyThemeToElements("{% static 'css/style.css' %}");
                applyBackgroundColorToContents("{% static 'css/style.css' %}");
            }

            switchButton.addEventListener('click', function () {
                if (stylesheet.href.includes('style.css')) {
                    stylesheet.href = "{% static 'css/style_dark.css' %}";
                    localStorage.setItem('theme', "{% static 'css/style_dark.css' %}");
                    applyThemeToElements("{% static 'css/style_dark.css' %}");
                    applyBackgroundColorToContents("{% static 'css/style_dark.css' %}");
                } else {
                    stylesheet.href = "{% static 'css/style.css' %}";
                    localStorage.setItem('theme', "{% static 'css/style.css' %}");
                    applyThemeToElements("{% static 'css/style.css' %}");
                    applyBackgroundColorToContents("{% static 'css/style.css' %}");
                }
            });

            function applyThemeToElements(theme) {
                for (var i = 0; i < elementsToChange.length; i++) {
                    if (theme.includes('style_dark.css')) {
                        elementsToChange[i].style.color = '#ffffff';
                    } else {
                        elementsToChange[i].style.color = '#701414';
                    }
                }
            }

            function applyBackgroundColorToContents(theme) {
                for (var i = 0; i < contents.length; i++) {
                    if (theme.includes('style_dark.css')) {
                        contents[i].style.backgroundColor = '#1b1b1b';
                    } else {
                        contents[i].style.backgroundColor = '#e9e8e6';
                    }
                }
            }
        });
    </script>
</body>

</html>