{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="stylesheet" rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/ac3cf26ac3.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <title>Çağrı Gökpunar - Blog</title>
    <meta name="description" content="Çağrı Gökpunar's personal website.">
    <meta name="keywords" content="Çağrı Gökpunar, Çağrı, Gökpunar, cagrigokpunar, cagri, gokpunar, cagri gokpunar">
    <meta name="author" content="Çağrı Gökpunar">
</head>

<body class="blog">
    <div class="wrapper">
        <div>
            <h1>Blog</h1>
            <h3>May 2024</h3>
            <ul style="list-style-position: inside;">
                <li><a href="{% url 'core:blog_foobar' %}">Google Foobar Challenge Solutions with Animations</a>
                </li>
            </ul>
            <h3>Jan 2024</h3>
            <ul style="list-style-position: inside;">
                <li><a href="{% url 'core:blog_lottie' %}">Creating Lottie Animations for Web Using After Effects</a>
                </li>
            </ul>
            <h3>Jun 2022</h3>
            <ul style="list-style-position: inside;">
                <li><a href="{% url 'core:thesis' %}">Mathematical Artificial Intelligence</a></li>
            </ul>

            <div style="margin-bottom: 50px;"></div>


            <a href="{% url 'core:index' %}"
                style="text-decoration: none; color: #ffffff; background-color: #701414; padding: 10px;"><i
                    class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i> Go back to the home page</a>
        </div>
    </div>
</body>