h1,
h2,
h3,
h4,
h5,
p,
b,
li,
a,
ul,
ol,
img,
hr {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* pre, code {
    font-family: 'Courier New', Courier, monospace;
} */

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 60px;
    text-align: justify;
    /* background-color: #e9e8e6; */
    font-family: Georgia, Times, serif;
    background-image: url('../img/paper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blog_mobile {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    text-align: justify;
    /* background-color: #e9e8e6; */
    font-family: Georgia, Times, serif;
    background-image: url("../img/paper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mobile {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    text-align: justify;
}

.mobile h1,
.mobile h2,
.mobile h3,
.mobile h4,
.mobile h5,
.mobile p,
.mobile b,
.mobile li,
.mobile a,
.mobile ul,
.mobile ol,
.mobile img,
.mobile hr {
    margin-top: 10px;
}


.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog p,
.blog b,
.blog li,
.blog a,
.blog ul,
.blog ol,
.blog img,
.blog hr,
.blog pre {
    margin-top: 10px;
}

.blog a {
    color: #701414;
    font-weight: bold;
}

.blog_mobile h1,
.blog_mobile h2,
.blog_mobile h3,
.blog_mobile h4,
.blog_mobile h5,
.blog_mobile p,
.blog_mobile b,
.blog_mobile li,
.blog_mobile a,
.blog_mobile ul,
.blog_mobile ol,
.blog_mobile img,
.blog_mobile hr,
.blog_mobile pre {
    margin-top: 10px;
}

.blog_mobile a {
    color: #701414;
    font-weight: bold;
}

.vanilla_container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.header-container {
    text-align: center;
    /* margin-right: 100px; enable when using cards */
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 2rem;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card>.row>.icon {
    background: #701414;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #d6d6d6;
}

.description h4 {
    text-transform: uppercase;
}

label:hover {
    width: 600px;
}

label:hover .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}


.card[for="c1"] {
    background-image: url('../img/about.jpg');
}

.card[for="c2"] {
    background-image: url('../img/projects.jpg');
}

.card[for="c3"] {
    background-image: url('../img/skills.jpg');
}

.card[for="c4"] {
    background-image: url('../img/art.jpg');
}

.card[for="c5"] {
    background-image: url('../img/portfolio-1.jpg');
}

.card[for="c6"] {
    background-image: url('../img/portfolio-2.jpg');
}

.card[for="c7"] {
    background-image: url('../img/portfolio-3.jpg');
}

.card[for="c8"] {
    background-image: url('../img/portfolio-4.jpg');
}

.card[for="c9"] {
    background-image: url('../img/blog.jpg');
}